<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="static/AllPages.css">
    <script defer src="static/AllPagesJS.js"></script>
</head>
<body id="AboutUsBody" onload="typing()">
    <nav class="nav">
        <div>
            <header id="header"></header>
            <img class="icon" src="../static/pizza.png">
        </div>
        <ul class="nav-list">
            <li class="list-item">
                <a class="headnav" href="/about">About Us</a>
            </li>
            <li class="list-item">
                <a class="headnav" href="/">Home Page</a>
            </li>
            <li class="list-item">
                <a class="headnav" href="/contact">Contact</a>
            </li>
            <li class="list-item">
                <a class="headnav" href="/assignment3_1">Gallery</a>
            </li>
        </ul>
    </nav>
    <div class="textAboutUs" >
        <h1 class="inText">About Us</h1>
        <p class="inText">
            Hagar's Pizza is a unique place. It attracts with its original interior but above all the quality of the dishes served.
            Carefully prepared dishes are characterized by freshness and a lot of ingredients.
            Savor our dishes in the elegant and discreet atmosphere of our restaurant.
            The atmospheric interior will allow you to relax and fully reflect the delicious taste of our dishes.
        </p>
    </div>
       <footer class="footer">
        <nav class="navFooter">
            <div>
                <a href="#">
                    <img class="facebookicon" src="../static/facebook.png">
                </a>
            </div>
            <ul class="nav-list">
                <li class="list-item">
                    <a href="AboutUs.html" style="color: black;">About Us</a>
                </li>
                <li class="list-item">
                    <a href="HomePage.html" style="color: black;">Home Page</a>
                </li>
                <li class="list-item" >
                    <a href="ContactUs.html" style="color: black;">Contact</a>
                </li>
            </ul>
        </nav><br>
    </footer>
</body>
</html>